<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.copypaste.qualification">
  <uses-sdk android:minSdkVersion="24" android:targetSdkVersion="36" />
  <application android:debuggable="true" android:label="CopyPaste module qualification">
    <activity android:name=".MainActivity" android:exported="true" />
    <service android:name=".InferenceWorkerService" android:exported="false" android:process=":inference" />
  </application>
</manifest>
