.root { display: flex; inline-size: 100%; overflow: hidden; align-items: center; justify-content: flex-start; background: transparent; }
.image { block-size: clamp(calc(var(--s-8) * 4 + var(--s-2)), 50cqi, calc(var(--s-9) * 5)); }
.image :global(img) { object-fit: contain; object-position: left center; }
