.root {
  display: flex;
  min-inline-size: calc(var(--s-9) * 4 + var(--s-2));
  padding-inline: var(--s-3);
  align-items: center;
  color: var(--dim);
}

.root > * + * {
  margin-inline-start: var(--s-2);
}

.input {
  min-inline-size: 0;
  flex: 1;
}

.overlay { min-inline-size: 0; }

.root:hover [data-slot="shortcut-badge"],
.root:focus-within [data-slot="shortcut-badge"] {
  opacity: 0;
}
