.root {
  background: transparent;
}

.header {
  padding: var(--s-4);
  border-block-end: var(--stroke-1) solid var(--divider);
}

.content {
  padding-block: var(--s-4) var(--s-6);
}

.viewport {
  flex: 1;
}
